<ion-header class="custom-title">
  <ion-toolbar>
    <ion-title>
      <b style="color:#3dc2ff;text-align: center;">Docs</b>&#160;<b style="color:rgb(101, 199, 110);text-align: center;">Okay</b>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-list [inset]="false">
    <ion-item>
      <ion-select  [(ngModel)]="institution_selected" label="Seleccione Institución" label-placement="Institucion">

        <ion-select-option  *ngFor="let institucion of institutions" value="{{ institucion }}"> {{ institucion }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button class="btnblock-padding" expand="block"  (click)="sendToCreate()" >Crear Documento</ion-button>
</ion-list>
</ion-content>
  <ion-content>
<ion-tabs>
  <ion-tab-bar slot="pending">
    <ion-tab-button tab="home" routerLink="/home" routerLinkActive="selected">
      <ion-icon name="create-outline"></ion-icon>
      Pendientes
    </ion-tab-button>
    <ion-tab-button tab="signed" routerLink="/signed" routerLinkActive="selected">
      <ion-icon name="checkmark-circle-outline"></ion-icon>
      Firmados
    </ion-tab-button>
    <ion-tab-button tab="list-institution" routerLink="/list-institution" routerLinkActive="selected">
      <ion-icon name="add-circle-outline"></ion-icon>
      Crear Documento
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
</ion-content>