<ion-header>
  <ion-toolbar>
    <ion-title>
      <b style="color:#4BC8CD;text-align: center;">Docs</b>&#160;<b style="color:#2dd36f;text-align: center;">Okay</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <br>
  <div class="logo-container">
    <!-- Aquí puedes agregar tu logo -->
    <img src="assets/last-will.gif" alt="Logo" width="100vh" class="logo">
  </div>

  <ion-item>
    <ion-label position="floating">RUT</ion-label>
    <ion-input type="text" [(ngModel)]="rut"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="password"></ion-input>
  </ion-item>

  <ion-button expand="block" color="secondary" (click)="login()">Ingresar</ion-button>
  <!-- REGISTRO -->
  <ion-button expand="block" color="success" (click)="setOpen(true)">Registrarse</ion-button>
  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Registro</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-input label="Nombre" labelPlacement="floating"  [(ngModel)]="r_name" placeholder="John Doe"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Rut" labelPlacement="floating" [(ngModel)]="r_rut" placeholder="12345678-9"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Email" labelPlacement="floating" [(ngModel)]="r_email" placeholder="my_email@example.cl"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Password" type="password" labelPlacement="floating" [(ngModel)]="r_password" placeholder="Enter Password"></ion-input>
        </ion-item>
        <ion-button expand="block" color="success" (click)="registrar()">Registrar</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>
  <!-- REGISTRO FIN -->
</ion-content>
